- var telegram = "https://t.me/riisabot"

doctype html
html
	head
		title Raumor TRPG
		link(rel="stylesheet" type="text\css" href="../static/css/default.css")
		link(rel="stylesheet" type="text\css" href="../static/css/main.css")
		meta(charset="utf-8")

	body
		.grid
			header.header
				.logo
					img(src="../static/img/logo.png")

			.content
				a(href=telegram)
					h1.telegram @RIISA
				p.additional create your second life

			footer.footer
				p.copyr 2020©Copyrights reserved

